<h3 class="post-title"><%= link_to post.title, post %></h3>
<% if signed_in? %>
	<p class="post-author">By: <%= link_to post.user.name, post.user %></em></p>
<% end %>
<p class="post-body"><%= post.body %></p>