/* Universal */
html {
	overflow-y: scroll;
}

body {
	padding-top: 60px;
	background-color: #ECECEA;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
		font-weight: bold;
	}
}

/* Typography */
h1 {
	text-align: center;
	font-size: 3em;
}

/* Forms */
input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 15px;
	@include box_sizing(border-box);
}
input {
	height: auto !important;
}

#error_explanation {
	color: #f00;
	ul {
		list-style: none;
		margin: 0 0 18px 0;
	}
}
.field_with_errors {
	@extend .has-error;
	color: #f00;
	input {
		border: 1px solid #f00;
	}
}

/* Header */

#logo {
	color: white;
	font-weight: bold;
	font-size: 2.6em;
	margin: 0 20px;
	letter-spacing: -1px;
	&:hover {
		text-decoration: none;
		
	}
}

.nav li {
	font-size: 1.2em;
	&:last-child {
		margin-right: 20px;
	}
}

/* All Posts */

.posts {
	list-style: none;
	padding: 0;
}
.postss {
	margin: 10px 0;
}

div.pagination {
	width: 100%;
}
ul.pagination {
	float: right;
	margin: 0;
	a {
		border: none;
		border-radius: 2em !important;
		margin: 0 0 !important;
	}
	.active {
		a {
			background-color: $gray;
			border-radius: 2em;
			border-color: $gray-light;
			&:hover {
				background-color: $gray;
			}
		}
	}
	.disabled {
		a {
			cursor: auto !important;
		}
	}
}

.post-title {
	text-align: center;
	color: #c37735;
	a {
		color: #c37735;
	}
}

.post-body {
	/* border-bottom: 1px solid  #74AFAD; */
	overflow: hidden;
	padding: 0px;
	margin: 0px;
}
.post-author {
	text-transform: capitalize;
	a {
		color: #fff;
	}
}

.post-management {
	float: right;
	a {
		color: #D9853B;
	}
}

.post {
	position: relative;
	padding: 20px;
  margin: 1.6%;
  background: #74AFAD;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.3em;
  border: 2px dashed #fff;
  border-radius: 10px;
  box-shadow: 0 0 0 4px #74AFAD, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  font-weight: normal;
  width: 30%;
  height: 250px;
  float: left;
  overflow: hidden;
	.post-title {
		margin-top: 0px;
		max-height: 270px;
		overflow: hidden;
		h3 {
			text-align: center;
		}
	}
	.post-author {
		font-size: 0.9em;
		line-height: 50%;
		display: inline-block;
		position: absolute;
		bottom: 15px;
		right: 10px;
	}
	.post-body {
		margin-top: 10px;
		height: 108px;
		overflow: hidden;
		padding-left: 5px;
		display: block;
	}
}





